app:
  name: "${app_name}"
  replicas: ${replicas_count}
  image: "${image_url}"
  port: ${port_number}
  resources: 
    requests:
      cpu: "1m"
      memory: "128Mi"
    limits:
      cpu: "1m"
      memory: "128Mi"

podAnnotations: {}
podLabels:
  tier: backend

ingress:
  enabled: true
  className: nginx
  host: ""
  path: ""
  pathType: Prefix

service:
  enabled: true
  port: 80